.about{
    /* position: absolute;
    justify-content: center;
    margin: 100px;
    border-radius: 10px;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%); */
    background-color: rgba(25, 245, 18, 0.516);
    border-radius: 10px;
    margin: 5%;
}
.foto{ 

    width: 440px;
    height: 540px;
    margin: 4%; 
    
}

.txt{

    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 10px rgb(0, 255, 42);
}
.divAtras{

    display: flex;
    justify-content: left;
}
.atras{ 
    font-size: large;
    font-weight: 550;
    margin: 20px;
    margin-left: 60px;
    height: 40px;
    width: 80px;
    right: 20px;
    top: 20px;
    background-color: rgba(255, 0, 217, 0.64);;
    color: rgb(0, 0, 0);
    border: 0ch;
    border-radius: 10px;
    transition: all 400ms ease; 
    box-shadow: 0px 0px 5px 5px rgba(19, 255, 2, 0.659);
    
}
.atras:hover{

    background-color: rgba(7, 245, 47, 0.675);;
    box-shadow: 0px 0px 10px 10px rgba(13, 229, 28, 0.818);
}