.detail{
    margin: 80px;
    display: flex;
    background-color:rgba(25, 245, 18, 0.516);
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
}

.txt{
    color: rgb(0, 0, 0);
    margin: 120px;
    text-align: center;
    text-shadow: 1px 1px 5px rgb(19, 255, 2);

}


.imagen{
    width: 300px;
    height: auto;
    margin: 80px;
    border-radius: 5px;
    transition: all 400ms;
    box-shadow:  0px 0px 14px 10px  rgba(255, 0, 217, 0.64);
}.imagen:hover{
    box-shadow: 0px 0px 15px 10px rgba(80, 252, 0, 0.818);
    transform: translateY(-3%);
}

.atras{ 
    font-size: large;
    font-weight: 550;
    margin: 20px;
    height: 40px;
    width: 80px;
    right: 20px;
    top: 20px;
    background-color: rgba(255, 0, 217, 0.64);
    color: rgb(0, 0, 0);
    border: 0ch;
    border-radius: 10px;
    transition: all 400ms ease; 
    box-shadow: 0px 0px 5px 5px rgba(19, 255, 2, 0.659);
    
}
.atras:hover{

    background-color: rgba(7, 245, 47, 0.675);;
    box-shadow: 0px 0px 10px 10px rgba(13, 229, 28, 0.818);
    color: rgba(255, 0, 217, 0.64);
}
